__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
examples/simple-site/models/*.onnx
examples/simple-site/models/*.onnx.json
examples/simple-site/site/
examples/simple-site/docs/assets/piper-tts/audio/*.mp3
examples/simple-site/docs/assets/piper-tts/audio/*.mp3.json
.coverage